In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tkinter import *
import seaborn as sn

In [4]:
tr_df=pd.read_csv("diab.csv")

In [55]:
tr_df.head(5)

   LBDSGLSI  LBXGLU  LBXGH       output
0     12.16     219    9.1        Type1
1     10.16     183    8.9        Type1
2      5.77     104    4.9  No_Diabetes
3      5.77     104    5.5  No_Diabetes
4      5.94     107    5.5  No_Diabetes

In [56]:
tr_df["output"] = tr_df["output"].replace(['No_Diabetes','Prediabetis','Type1','Type2'],[0,1,2,3])

In [57]:
tr_df.tail()

      LBDSGLSI  LBXGLU  LBXGH  output
6488      4.83      87    5.4       0
6489      8.60     155    7.4       1
6490      6.49     117    5.5       1
6491      5.61     101    5.0       0
6492      6.22     112    5.3       1

In [58]:
tr_df.head()

   LBDSGLSI  LBXGLU  LBXGH  output
0     12.16     219    9.1       2
1     10.16     183    8.9       2
2      5.77     104    4.9       0
3      5.77     104    5.5       0
4      5.94     107    5.5       0

In [59]:
tr_X=tr_df.iloc[:,:-1]
tr_y=tr_df.iloc[:,-1:]

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
tr_Xtrain,tr_Xtest,tr_ytest = train_test_split(tr_X,tr_y,test_size = 0.2,random_state = 0)

In [62]:
print(len(tr_ytrain))

5194

In [63]:
tr_Xtrain.head(5)

      LBDSGLSI  LBXGLU  LBXGH
1065     10.21     184    8.0
852       4.83      87    5.3
978       5.05      91    5.2
1632      4.72      85    5.2
2592      5.16      93    5.3

In [64]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
tr_Xtrain = sc.fit_transform(tr_Xtrain)
tr_Xtest = sc.transform(tr_Xtest)

C:\Users\sai varma\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\sai varma\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\sai varma\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [67]:
print(len(tr_ytrain))

5194

In [68]:
import lightgbm as lgb

In [77]:
d_train = lgb.Dataset(tr_Xtrain, label=tr_ytrain)

In [70]:
params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['objective'] = 'binary'
params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10

In [71]:
clf = lgb.train(params, d_train, 100)

In [79]:
#Prediction
tr_pred = clf.predict(tr_Xtest)

In [80]:
print(tr_pred)

[0.13848132 0.13848132 0.3983605  ... 0.13848132 0.13848132 0.13848132]

In [82]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(tr_ytest,tr_pred)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets